html, body {
  height: 75%;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 100px;
}
body {
  position: center;
	background-size: 100%;
  background-image: url("http://thesandtrap.com/uploads/static_huddler/d/d2/d21e5966_golfgreen.jpeg");
}
#navbar nav {
  background-color: #009292;
}
#navbar button {
  background-color: #65A2A2;
}
#map {
  position: relative;
  height: 80%;
}

